output/
airootfs/home/rebornos/rebornos-labs/xfce-minimal-iso/repo
airootfs/home/rebornos/calamares-installer
airootfs/home/rebornos/calamares-branding
airootfs/home/rebornos/calamares-configuration
airootfs/home/rebornos/calamares-core

