# Regular boot option
LABEL arch64
TEXT HELP
Boot the RebornOS install medium on BIOS.
Allows you to install RebornOS or try out the live system.
ENDTEXT
MENU LABEL RebornOS install medium (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nvme_load=yes cow_spacesize=16G i915.modeset=1 radeon.modeset=1 nouveau.modeset=1 nvidia-drm.modeset=0 module_blacklist=nvidia,nvidia_uvm,nvidia_drm,nvidia_modeset

# Nvidia boot option
LABEL arch64nvidia
TEXT HELP
Boot the RebornOS install medium on BIOS with NVIDIA proprietary drivers.
Allows you to install RebornOS or try out the live system.
ENDTEXT
MENU LABEL RebornOS install medium (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nvme_load=yes cow_spacesize=16G i915.modeset=1 radeon.modeset=1 nouveau.modeset=0 nvidia-drm.modeset=1 module_blacklist=nouveau

# Nomodeset boot option
LABEL arch64
TEXT HELP
Boot the RebornOS install medium on BIOS with nomodeset
Allows you to install RebornOS or try out the live system.
ENDTEXT
MENU LABEL RebornOS install medium (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nvme_load=yes cow_spacesize=16G i915.modeset=0 radeon.modeset=0 nouveau.modeset=0 nomodeset

# Accessibility boot option
LABEL arch64speech
TEXT HELP
Boot the RebornOS install medium on BIOS with speakup screen reader.
Allows you to install RebornOS or try out the live system.
ENDTEXT
MENU LABEL RebornOS install medium (x86_64, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nvme_load=yes cow_spacesize=16G i915.modeset=1 radeon.modeset=1 nouveau.modeset=1 nvidia-drm.modeset=0 module_blacklist=nvidia,nvidia_uvm,nvidia_drm,nvidia_modeset accessibility=on

# # Copy to RAM boot option
# LABEL arch64ram
# TEXT HELP
# Boot the RebornOS install medium on BIOS with Copy-to-RAM option
# Allows you to install RebornOS or try out the live system.
# ENDTEXT
# MENU LABEL RebornOS install medium (x86_64, BIOS, Copy to RAM)
# LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
# INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
# APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% copytoram nvme_load=yes cow_spacesize=16G i915.modeset=1 radeon.modeset=1 nouveau.modeset=1 nvidia-drm.modeset=0 module_blacklist=nvidia,nvidia_uvm,nvidia_drm,nvidia_modeset
